[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

# Redirect para aceptar invitaciones de Netlify Identity
[[redirects]]
  from = "/accept-invite"
  to = "/accept-invite"
  status = 200

